<!DOCTYPE html>
<html>
<head>
    <title>Apply leave</title>
    <style>
        body{
            background-color:aqua;
        }
        form{
            text-align:center;
        }
    </style>
</head>
<center>
    <font color="black" size="5" style="font-family: avenir">

        <h1 style="color: DodgerBlue">Apply Leave</h1>

        <body bgcolor="lightgrey">

            

                

               

            <form action="/applyleave" autocomplete="on" method="POST">
                <h2 style="color: grey">Enter Employee ID</h2>
                Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>
                <label for="birthday">Start :</label>
                <input type="date" id="startdate" name="leavestartdate">
                <label for="birthday">End :</label>
                <input type="date" id="enddate" name="leaveenddate"><br><br>
                Reason :<br> <textarea class="input" rows="4"   input style="height:100px;font-size:14pt; color:grey;" type="text"    name="reason" autofocus size="40"></textarea><br><br>

                <input type="submit">
            </form>




           


        </body>
    </font>
</center>
</html>
