<!DOCTYPE html>
<html>
<head>
    <title>Apply leave</title>
    <style>
        body {
            background-color: aqua;
        }

        form {
            text-align: center;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<center>
    <font color="black" size="5" style="font-family: avenir">

        <h1 style="color: DodgerBlue">View Leave Status</h1>

        <body bgcolor="lightgrey">

            <form action="/approveleave" autocomplete="on" method="POST">
                Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="view_leave_emp_id" autofocus size="40"><br><br>
                <table border="3px">
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Leave Start Date</th>
                        <th>Leave End Date</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                    <tr height="100px">
                        <td>{{emp_id}}</td>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{leave_start_date}}</td>
                        <td>{{leave_end_date}}</td>
                        <td>{{leave_reason}}</td>
                        <td>{{leave_status}}</td>
                    </tr>
                </table>
                <br /><br />
                <button type="submit" formaction="/viewleave" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">View Status</button><br><br>
                <button type="submit" formaction="/approveleave" style="background: green; height: 45px; width: 200px; color:white; font:oblique;">Approve</button>&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <button type="submit" formaction="/rejectleave" style="background: red; height: 45px; width: 200px; color:white; font:oblique;">Reject</button><br><br>
            </form>
        </body>
    </font>
</center>
</html>